@import '../../variables.less';

.user-list {

    .user-list-header {
        display: flex;
        align-items: center;
        padding: 5px;
        margin-bottom: 15px;

        .user-list-title {
            margin-right: 30px;
            font-size: 36px;
            color: @grey;
        }

        .user-list-bar {
            border: 2px solid @grey-light-hover;
            width: 30%;
            border-radius: 5px;
        }

        .user-list-search {
            height: 35px;
            min-width: 15%;
            margin-left: 40px;
            padding: 0px 10px;
            border: 1px solid @grey-light-hover;
            border-radius: 5px;
        }
    }

    .table {
        border-spacing: 0;   
    }
    
    .header-row {
        color: @grey;
        font-weight: 700;
        text-align: left;
        line-height: 50px;
    }
    
    .header-cell {
        padding: 0 10px;
    }

    .table-row {
        font-weight: 400;
        line-height:50px;
        
        &:nth-child(2n){
            background-color: @grey-light;
        }
        
        &:hover {
            background-color: @grey-light-hover;
            
            .fa-trash-alt {
                visibility: visible;
            }
        }
        
        .cell-standard {
            background-color: inherit;
        }
        
    }

    .cell-standard {
        padding: 0 10px;
        color: @grey;

        .fa-trash-alt {
            visibility: hidden;
        }
        
        .email {
            color: @green;
            text-decoration: none;
        }

        &.green {
            color: @green;
        }
    }

}